<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/_local/stylesheets/style.css' />
  </head>
  <body>
    <p><a href="/">Top</a></p>
    <%- body %>
  </body>
</html>
